:root {
  --main-theme-color: #a5d6a7;
}

.Toastify__toast--success {
  background: var(--main-theme-color);
  color: black;
}

.Toastify__close-button.Toastify__close-button--success {
  color: black;
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar--success {
  background-color: #666;
}

/* loading table sig level dropdown custom css  */
.ui.button.item.simple.dropdown {
  margin-left: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 16px;
  color: black;
  padding-top: 10px;
  height: 48px;
  width: 155px;
  background-color: #d6dbe0 !important;
}

/* output distinguishing statements tab panel */
.ui.bottom.attached.segment.active.tab.distState {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* output factor characteristics tab panel */
.ui.bottom.attached.segment.active.tab.facChar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* output factor viz tab panel */
.ui.bottom.attached.segment.active.tab.facVizPane {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

/* output factor tables tab panel */
.ui.bottom.attached.segment.active.tab.facTablePane {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* output factor tables tab panel */
.ui.bottom.attached.segment.active.tab.helpTabs {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* adjust help section menu height */
#helpSection .ui.attached.tabular.menu {
  height: 45px;
}

.ui.input input[type="text"] {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* color brewer 
bichromatic divergent
['#c51b7d','#de77ae','#f1b6da','#fde0ef','#f7f7f7','#e6f5d0','#b8e186','#7fbc41','#4d9221']

*/
