:root {
  --main-theme-color: #a5d6a7;
}

/*
SPINNER and TOASTIFY
*/
.spinner {
  font-size: 120px;
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  transform-origin: center -0.2222em;
  animation: spinner-fade 1s infinite linear;
}

.spinner-blade:nth-child(1) {
  animation-delay: 0s;
  transform: rotate(0deg);
}
.spinner-blade:nth-child(2) {
  animation-delay: 0.083s;
  transform: rotate(30deg);
}
.spinner-blade:nth-child(3) {
  animation-delay: 0.166s;
  transform: rotate(60deg);
}
.spinner-blade:nth-child(4) {
  animation-delay: 0.249s;
  transform: rotate(90deg);
}
.spinner-blade:nth-child(5) {
  animation-delay: 0.332s;
  transform: rotate(120deg);
}
.spinner-blade:nth-child(6) {
  animation-delay: 0.415s;
  transform: rotate(150deg);
}
.spinner-blade:nth-child(7) {
  animation-delay: 0.498s;
  transform: rotate(180deg);
}
.spinner-blade:nth-child(8) {
  animation-delay: 0.581s;
  transform: rotate(210deg);
}
.spinner-blade:nth-child(9) {
  animation-delay: 0.664s;
  transform: rotate(240deg);
}
.spinner-blade:nth-child(10) {
  animation-delay: 0.747s;
  transform: rotate(270deg);
}
.spinner-blade:nth-child(11) {
  animation-delay: 0.83s;
  transform: rotate(300deg);
}
.spinner-blade:nth-child(12) {
  animation-delay: 0.913s;
  transform: rotate(330deg);
}

@keyframes spinner-fade {
  0% {
    background-color: var(--main-theme-color);
  }
  100% {
    background-color: transparent;
  }
}

/* toastify */
.Toastify__toast--success {
  background: var(--main-theme-color);
  color: black;
}

.Toastify__close-button.Toastify__close-button--success {
  color: black;
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar--success {
  background-color: #666;
}

/* loading table sig level dropdown custom css  */
.ui.button.item.simple.dropdown {
  margin-left: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 16px;
  color: black;
  padding-top: 10px;
  height: 48px;
  width: 155px;
  background-color: #d6dbe0 !important;
}

/* output distinguishing statements tab panel */
.ui.bottom.attached.segment.active.tab.distState {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* output factor characteristics tab panel */
.ui.bottom.attached.segment.active.tab.facChar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* output factor viz tab panel */
.ui.bottom.attached.segment.active.tab.facVizPane {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

/* output factor tables tab panel */
.ui.bottom.attached.segment.active.tab.facTablePane {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* output factor tables tab panel */
.ui.bottom.attached.segment.active.tab.helpTabs {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* adjust help section menu height */
#helpSection .ui.attached.tabular.menu {
  height: 45px;
}

.ui.input input[type='text'] {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* color brewer 
bichromatic divergent
['#c51b7d','#de77ae','#f1b6da','#fde0ef','#f7f7f7','#e6f5d0','#b8e186','#7fbc41','#4d9221']

*/
