body {
  font-family: sans-serif;
}

div .button {
  width: 15rem;
  height: 1.9rem;
  line-height: 1.7;
  background: steelblue;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25rem;
  margin: 1rem auto;
  cursor: pointer;
}
