.ag-fresh .F1grays {
  background-color: white;
}

.ag-fresh .F2grays {
  background-color: #e4e4e4;
}

.ag-fresh .F3grays {
  background-color: white;
}

.ag-fresh .F4grays {
  background-color: #e4e4e4;
}

.ag-fresh .F5grays {
  background-color: white;
}

.ag-fresh .F6grays {
  background-color: #e4e4e4;
}

.ag-fresh .F7grays {
  background-color: white;
}

.ag-fresh .F8grays {
  background-color: #e4e4e4;
}

.ag-fresh .F1colors {
  background-color: rgba(149, 205, 234, 0.4);
}

.ag-fresh .F2colors {
  background-color: rgba(254, 229, 139, 0.4);
}

.ag-fresh .F3colors {
  background-color: rgba(155, 184, 216, 0.4);
}

.ag-fresh .F4colors {
  background-color: rgba(247, 204, 170, 0.4);
}

.ag-fresh .F5colors {
  background-color: rgba(248, 244, 227, 0.3);
}

.ag-fresh .F6colors {
  background-color: rgba(136, 225, 136, 0.3);
}

.ag-fresh .F7colors {
  background-color: rgba(238, 180, 34, 0.3);
}

.ag-fresh .F8colors {
  background-color: rgba(187, 225, 221, 0.3);
}