.ace_editor {
  background-color: #191324 !important;
  color: white;
}

.ace_editor .ace_gutter {
  background: #191324;
  color: white;
}

.ace_editor .ace_list {
  color: #d8d8d8;
}

.ace_editor .ace_gutter-active-line {
  background-color: #373142;
}

.ace_editor .ace_heading {
  color: #82d8d8;
}

.ace_editor .ace_cursor {
  color: white;
}

.ace_editor .ace_string {
  color: #e54b4b;
}
