a,
a:visited,
a:hover,
a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: black;
  font-size: 1 em;
}
a:hover {
  /* color: var(--main-theme-color); */
  color: #d73444;
}
a.before:before,
a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
a.before:before {
  top: -0.25em;
}
a.after:after {
  bottom: -0.25em;
}

a.before:before,
a.after:after {
  height: 5px;
  height: 0.35rem;
  width: 0;
  background: var(--main-theme-color);
}

a.third:after,
a.sixth:before,
a.sixth:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

a.before:hover:before,
a.after:hover:after {
  width: 100%;
}

a.sixth {
  color: black !important;
}
